.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
}

/* fron of card - picture */
.card .front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all 0.2s ease-in;
}

.flipped .front {
  transform: rotateY(0deg);
  transition: all 0.2s ease-in;
}

/* back of card - cover */
.card .cover {
  transition: all 0.2s ease-in;
}

.flipped .cover {
  transform: rotateY(90deg);
  transition: all 0.2s ease-in;
}
